venv
*node_modules/
.DS_Store
*convert/
__pycache__/
*.ipynb_checkpoints/
.pdm-python
dist/*
.vscode
tests/test.html
tests/test.pdf
src/py_allotax/boys-2018.json
src/py_allotax/boys-1968.json
src/py_allotax/package-lock.json
